.post-review-modal {
    width: 20rem;
    padding: 1rem;
}

.post-review-modal h1 {
    text-align: center;
    font-size: 23px;
    padding: .5rem 0;
}

.login-form .errors {
    text-align: center;
    padding: .5rem 0;
}

.post-review-modal textarea {
    width: 100%;
}

.stars {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.login-button {
    background-color: #fc5050;
    color: white;
    width: 100%;
    padding: 10px;
    box-shadow: 2px 2px 2px black;
    font-size: 11px;
}

.post-review-button {
    background-color: #fc5050;
    color: white;
    width: 100%;
    padding: 10px;
    box-shadow: 2px 2px 2px black;
    font-size: 11px;
}

.post-review-button:disabled {
    background-color: rgb(182, 181, 181);
  }
