.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20rem;
    padding: 2rem 0;
}

.form-container p {
    font-size: 12px;
    padding: 3px 0;
}

.form-container .label{
    font-size: 10px;
    font-weight: bolder;
}

.form-title {
    font-size: 25px;
    font-weight: bold;
}

h3 {
    font-size: 15px;
    font-weight: bold;
    padding: 6px 0;
}

.errors {
    color: red;
    font-size: 12px;
}

.city-state {
    display: grid;
    grid: auto-flow / 1fr 1fr;
    width: 99%;
}


.form-container input {
    width: 97%;
}

textarea {
    width: 97%;
    height: 8rem;
}

.comma {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 50rem;
}

.spot-price {
    display: inline-block;
    width: 99%;
}

.form-container input {
    margin: 8px 0;
}

.price-input p {
    display: inline;
    padding-right: 3px;
}

.price-input input {
    display: inline;

}

.form-submit-button {
    background-color: #fc5050;
    color: white;
    padding: 5px;
    box-shadow: 2px 2px 2px black;
    font-size: 11px;
}

.form-submit-button:disabled {
    background-color: #757575;
    color: white;
    padding: 5px;
    box-shadow: 2px 2px 2px black;
    font-size: 11px;
}

.button {
    display: flex;
    justify-content: center;
}
