
.allSpotsContainer {
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 2rem 3rem;
}

.singleSpot img {
    height: 20vw;
    width: 100%;
    border-radius: 1%;
}

.spot-update-button {
    background-color: rgb(78, 121, 216);
    color: white;
    padding: 4px;
    box-shadow: 2px 2px 2px black;
    font-size: 10px;
    cursor: pointer;
    margin-right: 5px;
}

.location-rating {
    display: flex;
    position: static;
    font-size: 1vw;
    white-space: nowrap;
    justify-content: space-between;
}

.manage-spot-title {
    padding-left: 48px ;
}

.manage-spot-create-button {
    margin-left: 48px;
    background-color: #fc5050;
    color: white;
    padding: 5px;
    box-shadow: 2px 2px 2px black;
    font-size: 10px;
    margin-top: 3px;
}
