.spotContainer {
    display: block;
    height: 100%;
    /* position: absolute; */
    top: 0;
    width: 100%;
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

.price {
    display: flex;
    justify-content: flex-start;
    font-weight: bolder;
    /* font-size: 1vw; */
    text-align: left;
}

.location-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.single-spot-img {
    height: 250px;
    width: 100%;
    border-radius: 4%;
    margin-bottom: 5px;
}

.location-rating {
    display: flex;
    position: static;
    /* font-size: 1vw; */
    white-space: nowrap;
    /* justify-content: space-between; */
}

.location {
    display: flex;
    text-align: left;
    white-space: nowrap;

}

.rating {
    text-align: right;
    justify-content: flex-end;
}

.price p {
    font-weight: lighter;
    padding-left: 2px;
    /* font-size: 14px; */
    /* font-size: 1vw; */
}

.state {
    padding-left: 2px;
}
