.spotContainer {
    display: block;
    text-align:center;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.price a {
    font-weight: bolder;
}

.single-spot-img {
    height: 200px;
    width: 300px;
}

.location-rating {
    display: flex;
    position: static;
    font-size: auto;
    white-space:nowrap;
    justify-content: space-between;
}
