.spotContainer {
    display: block;
    text-align:center;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.price {
    display: flex;
    justify-content: flex-start;
    font-weight: bolder;
    font-size: 1vw;
    text-align: left;
}

.single-spot-img {
    height: 20vw;
    width: 100%;
    border-radius: 1%;
}

.location-rating {
    display: flex;
    position: static;
    font-size: 1vw;
    white-space: nowrap;
    justify-content: space-between;
}

.location {
    text-align: left;
}

.rating {
    text-align: right;
}

.price p {
    font-weight: lighter;
    font-size: 14px;
    font-size: 1vw;

}
