.hidden {
    display: none
}

.wrapper {
    display: flex;
    justify-content:space-between;
    align-items: center;
    list-style-type: none;
    padding: 17px;
    margin: 0;
    border-bottom: 2px solid lightgrey;

}

.profile-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 0;
    right: 0;
    text-align: left;
    list-style-type: none;
    border: 1px solid black;
    background-color: white;
    margin-right: 1.3rem;
    margin-top: .1rem;
    padding: 10px;
}

.profile-dropdown li {
    padding: 2px 0;
    font-weight: bolder;
    font-size: 13px;
}

.profile-dropdown-hidden {
    display: none
}

.menuButton {
    cursor: pointer;
    border-radius: 40%;
    width: 4rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content:space-around; */
}

.fa-bars:before {
    padding-right: 5px;
}

.home {
    color: #ff0000;
    text-decoration: none;
    font-weight: bolder;
    padding-left: 8px;
    font-size: 20px;
}

.create-profile {
    display: flex;
    align-items: center;
}

.new-spot {
    padding-right: 10px;
    font-size: 15px;

}

.new-spot a {
    color: rgb(78, 121, 216);
    font-weight: bolder;
    font-size: 13px;
}

.manage-spots {
    border-bottom: 1px solid black;
}

.user-info {
    border-bottom: 1px solid black;
}

li.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
}

.logout button {
    background-color: rgb(175, 175, 175);
    color: white;
    font-weight: 200;
    padding: .4rem;
    border-radius: 15px;
    font-size: 12px;
}

.login-signup {
    cursor: pointer;
}
.search-spots {
  margin-top: 10px;
}

.search-spots h4 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.search-spots ul {
  list-style-type: none;
  padding: 0;
}

.search-spots li {
  margin-bottom: 5px;
}

.search-spot {
  display: block;
  color: #333;
  text-decoration: none;
}

.search-spot:hover {
  text-decoration: underline;
}

.search-spot p {
  margin: 0;
  font-size: 12px;
}

.dropdown {
    position: relative;
}

.dropdown ul {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 3;
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown ul li {
    margin-bottom: 5px;
}

.dropdown ul li a {
    display: block;
    padding: 5px;
    color: #333;
    text-decoration: none;
}

  .dropdown ul li a:hover {
    background-color: #f5f5f5;
}

.nav-search form {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11px 14px;
    border-radius: 92px;
    position: relative;
    overflow: hidden;
}
