.login-form {
    width: 20rem;
    padding: 1rem;
}

.login-form h1 {
    text-align: center;
    font-size: 23px;
    padding: .5rem 0;
}

.login-form .errors {
    text-align: center;
    padding: .5rem 0;
}

.login-button-div {
    padding: 1rem 0;
}

.login-button {
    background-color: #fc5050;
    color: white;
    width: 100%;
    padding: 10px;
    box-shadow: 2px 2px 2px black;
    font-size: 11px;
}

.demo-button {
    align-items: center;
    border: none;
    text-decoration: underline;
    background-color: white;
    cursor: pointer;
    color: rgb(78, 121, 216);
    font-weight: bolder;
}

.login-button:disabled {
    background-color: rgb(182, 181, 181);
  }

.demo {
    display: flex;
    justify-content: center;
    padding: 1rem 0;

}

.login-form input{
    border: 2px solid rgb(119, 117, 117);
}

.login-form label{
    font-size: 12px;
}
